@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #8294b0;
    color: antiquewhite;
}

.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.weatherItem {
    border: solid;
    width: 200px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #525c6b;
}

.weatherPictures {
    height: 100px;
    width: 100px;
}

.forecast {
    font-weight: bold;
    font-size: 20px;
}

.town {
    margin: 0;
    padding-top: 10px;
}
.state {
    margin: 0;
    padding-bottom: 10px;
}

.formContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.submit {
    padding-top: 10px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: antiquewhite;
    color: #525c6b;
}

form {
    font-size: 20px;
}
