body {
    text-align: center;
}

.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.weatherItem {
    border: solid;
    width: 200px;
    border-radius: 10px;
}

.weatherPictures {
    height: 100px;
    width: 100px;
}

.forecast {
    font-weight: bold;
    font-size: 20px;
}
